{% extends '::base.html.twig' %}

{% block title %}IntellectSoft::ElevatorsProject{% endblock%}

{% block body %}
    <div class="container">
        Sorry, this is only console application.
    </div>
{% endblock %}